:root {
    --bg-gredient: linear-gradient(45deg, #0089bbcc, #004674);
    --color-boxshadow: 3px 3px 20px 0 rgba(33, 98, 182, 0.5);
    --main-gredient: linear-gradient(45deg, #0088BB, #004674);
    --sidebar-with: 250px;
    --sidebar-variant-with:60px;
    --primary-transition:all .3s ease-out;
    --app-bar-h:64px;
    --md-app-bar-h:56px; 
    
}
